<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<DeleteExistingFiles>true</DeleteExistingFiles>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<PublishProvider>FileSystem</PublishProvider>
		<PublishUrl>bin\Release\net6.0\publish\</PublishUrl>
		<WebPublishMethod>FileSystem</WebPublishMethod>
		<SiteUrlToLaunchAfterPublish />
		<TargetFramework>net6.0</TargetFramework>
		<RuntimeIdentifier>linux-x64</RuntimeIdentifier>
		<PublishSingleFile>false</PublishSingleFile>
		<ProjectGuid>fecf7b39-1820-4219-8cc8-a0750e54576c</ProjectGuid>
		<SelfContained>false</SelfContained>
	</PropertyGroup>
	<Target Name="ZipPublishOutput" AfterTargets="FileSystemPublish">
		<ZipDirectory SourceDirectory="$(publishUrl)" DestinationFile="$(publishUrl)\..\$(MSBuildProjectName).zip" />
		<RemoveDir Directories="$(publishUrl)" />
	</Target>
</Project>